.header {
  cursor: pointer;
  padding: calc(var(--card-padding) / 2);

  p {
    font-weight: 500;
    text-overflow: ellipsis;
  }
}

.headerFeedLink {
  width: fit-content;

  p {
    font-weight: 700;
  }
}

.headerOutLink {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  margin-left: auto !important;
}
