.header {
  cursor: pointer;
  padding: var(--card-padding);

  p {
    font-weight: 500;
  }
}

.headerFeedLink {
  width: fit-content;

  p {
    font-weight: 700;
  }
}

.headerOutLink {
  display: flex !important;
  margin-left: auto !important;
}
